<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}" type="text/css">
</head>
<body>
    <form method="POST" action="{{ url_for('login') }}">
        <div class = "login-wrapper">
            <div class="login-container">
                <input type="text" id="username" name="username" placeholder="Логин">

                <input type="password" id="password" name="password" required placeholder="Пароль">

                <input type="submit" value="Войти">
            </div>

            <div class="error-container {{ errorActive }}">
                <p>Неверно введены логин или пароль!</p>
            </div>
        </div>
    </form>
</body>
</html>