body{
    display: flex;
    justify-content:center;
    align-items:center;
}
html, body{
    height:100vh;
    margin:0px;
    padding:0px;
}
label{
    display:block;
}
.login-wrapper{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
.input-data{
    padding:5px;
}
.input-data:last-child{
    display:flex;
    justify-content:center;
    align-items:center;
}